// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

.tasks {
  position: absolute;
  top: 8%;
  left: 41%;
}

li {
  border: solid 1px black;
  padding: 10px;
}
